body{
    background-color: #d5dae0;
}
.intro{
    background-color: #3A5267;
    height: 350px;
    text-transform: uppercase;
}
h3{
    text-align:center;
    background-color:#2E4351 ;
    color: white;
    padding: 20px;
}    

h1{
    text-align: center;
    color: white;
    padding: 20px;
    margin-top:0px;
    
}
.p1{
    text-align: center;
    color: yellow;
    letter-spacing: .4rem;
    margin-top:0; 
}

.p1{
    margin-top:0px;
}
.about{
    background-color: #F7CF3A;
}
.image{
    float:left;
    padding: 20px;
    height: 300px;
    padding-top: 5px;
    
}
.myself{
    color: grey;
    letter-spacing: .1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
}
.maindiv{
    width:1000px;
    height: 557px;
    margin-left: 140px;
    background-color: white;
    margin-bottom: 20px;
    margin-top: 25px;
}
.hobby{
    background-color:white;
    width:33.3%;
    height: 350px;
    margin-left: 135px;
    float: left;
    margin-right:148px;
    margin-bottom: 25px;
     
}
li{
    color:grey;
}
.goals{
    background-color: white;
    width: 33.3%;
    height: 350px;
    float: left;
    padding-left: 0px;
    margin-bottom: 25px;

}

.about{
    margin-top:0px;
}
.thead{
    background-color: yellow;
}
th{
    color: #2E4351;
}
table{
    background-color: white;
    height: 300px;
    width:1000px;
    margin-left:135px;
    border-collapse: collapse;
    
}
tr{
    border-bottom:1px solid #ccc;
}
table th td{
    border-bottom:1px solid #ccc; 
    border: 3px solid #ddd;
    

}

th, td {
    padding: 20px;
    text-align:center ;
    border-left:1px solid #ccc; 
    border-right: 1px solid #ccc;
  }
  
footer{
    background-color:#2E4351;
    height: 200px;
    margin-top: 25px;;
}
footer p,h2{
    text-align: initial;
    margin-left: 100px;
    color: white;
}
#foot{
    color: yellow;
}
h2{
    padding-top:20px;
}
@media only screen and (max-width: 600px) {
    body{
        width:100%;
    }
}

    